//
// Color Swatches
// --------------------------------------------------
@background:      mix(white, @clouds, 90%);
@thulme:          @asbestos;
@startup-tools:   @alizarin;
@open-design:     @turquoise;
@weiji:           @peter-river;

//
// Responsive
// --------------------------------------------------
@tabletBreakpoint:      979px;
@mobileBreakpoint:      520px;