//
// Everything inside .document
// --------------------------------------------------

.document {

  // Enable absolutely positioned social bar
  position: relative;

  // Vertically align with logo
  .content {
    margin-top: 3px;
  }

  // Alignment classes from Wordpress
  .alignright,
  .alignleft {
    margin-bottom: (@base-font-size * @base-line-height);
    max-width: 45%;
    height: auto;
  }
  .alignright {
    float: right;
    margin-left: (2 * @base-font-size * @base-line-height);
    margin-right: -5%;
  }
  .alignleft {
    float: left;
    margin-right: (2 * @base-font-size * @base-line-height);
  }
  .aligncenter {
    max-width: 110%;
    margin-left: -5%;
    margin-right: -5%;
  }

  // Colored page headers on special categories
  .page-header {
    // Investing
    body.category-investing & {
      color: @investing;

      a {
        color: @investing;

        &:hover,
        &:focus {
          color: darken(@investing, 15%);
        }
      }
    }
    // Weiji
    body.category-weiji & {
      color: @weiji;

      a {
        color: @weiji;

        &:hover,
        &:focus {
          color: darken(@weiji, 15%);
        }
      }
    }
    // Open Design
    body.category-open-design & {
      color: @open-design;

      a {
        color: @open-design;

        &:hover,
        &:focus {
          color: darken(@open-design, 15%);
        }
      }
    }
    // Startup Tools
    body.category-startup-tools & {
      color: @startup-tools;

      a {
        color: @startup-tools;

        &:hover,
        &:focus {
          color: darken(@startup-tools, 15%);
        }
      }
    }
  }

  .social {
    .iconbar {
      float: right;

      // Horizontal iconbar on small screens
      @media (max-width: @tabletBreakpoint) {
        float: none;
        .iconbar-horizontal();
      }
    }
  }

  .hentry {

    // Inline links are bold
    .entry-content a {
      font-weight: bold;
    }

    // Entry icons
    .entry-icon {
      color: @concrete;
      text-decoration: none;

      body.archive & {
        .pull-right();
        font-size: @h2;
      }

      .category-investing & {
        color: @investing;
      }
      .category-open-design & {
        color: @open-design;
      }
      .category-startup-tools & {
        color: @startup-tools;
      }
      .category-weiji & {
        color: @weiji;
      }
    }

    // Entry headers
    header {
      margin-bottom: (3 * @base-font-size * @base-line-height);

      img {
        margin-bottom: (2 * @base-font-size * @base-line-height);

        @media (min-width: @mobileBreakpoint) {
          float: right;
          max-width: 50%;
          height: auto;
        }
      }

      body.archive & {
        border-bottom: 1px dotted @silver;

        padding-bottom: (@base-font-size * @base-line-height);
        margin-bottom: (@base-font-size * @base-line-height);

        h2 {
          margin-bottom: .25em;
        }
      }
    }
  }

  // Comments section
  #comments {
    .alert {
      display: none;
    }
  }

}
