//
// Everything inside .document
// --------------------------------------------------

.document {

  // Enable absolutely positioned social bar
  position: relative;

  // Grid
  .content,
  .social,
  #respond {
    .column(22,24);
    .push(1);
    .pull(1);
  }
  @media (min-width: @tabletBreakpoint) {
    .content {
      .column(11,16);
      .pull(1);
      margin-top: (2 * @base-font-size * @base-line-height);
    }
    .social {
      .column(4,16);
      margin-top: (3 * @base-font-size * @base-line-height);
    }
  }

  .page-header {
    body.category-weiji & {
      color: @weiji;

      a {
        color: @weiji;

        &:hover,
        &:focus {
          color: darken(@weiji, 15%);
        }
      }
    }
    body.category-open-design & {
      color: @open-design;

      a {
        color: @open-design;

        &:hover,
        &:focus {
          color: darken(@open-design, 15%);
        }
      }
    }
    body.category-startup-tools & {
      color: @startup-tools;

      a {
        color: @startup-tools;

        &:hover,
        &:focus {
          color: darken(@startup-tools, 15%);
        }
      }
    }
  }

  .social {
    .iconbar {
      float: right;

      // Horizontal iconbar on small screens
      @media (max-width: @tabletBreakpoint) {
        float: none;
        .iconbar-horizontal();
      }
    }
  }

  .hentry {

    // Entry headers
    header {
      margin-bottom: (3 * @base-font-size * @base-line-height);

      img {
        margin-bottom: (2 * @base-font-size * @base-line-height);

        @media (min-width: @mobileBreakpoint) {
          float: right;
          max-width: 50%;
          height: auto;
        }
      }

      body.archive & {
        border-bottom: 1px dotted @silver;

        padding-bottom: (@base-font-size * @base-line-height);
        margin-bottom: (@base-font-size * @base-line-height);

        h2 {
          margin-bottom: .25em;
        }
      }
    }
  }

  // Comments section
  #respond {

  }

}